<table class="table table-striped budget">
    <caption>{% if page.lang == 'en' %}Campaign spans from April 1<sup>st</sup> to May 31<sup>st</sup>.{% else %}Collecte de dons du 1<sup>er</sup> avril au 31 mai.{% endif %}</caption>
    <thead>
        <legend>{% if page.lang == 'en' %}Hardware Budget (crowdfunding){% else %}Budget matériel (financement participatif){% endif %}</legend>
        <tr><th>{% if page.lang == 'en' %}Item{% else %}Poste de dépenses{% endif %}</th><th>{% if page.lang == 'en' %}Quantity{% else %}Quantité{% endif %}</th><th>{% if page.lang == 'en' %}Unit Cost{% else %}Coût Unitaire{% endif %}</th><th>Total</th></tr>
    </thead>
    <tbody>
        <tr><td>{% if page.lang == 'en' %}eReaders{% else %}Liseuses électroniques{% endif %}</td><td>30</td><td>{% if page.lang == 'en' %}$110{% else %}80€{% endif %}</td><td>{% if page.lang == 'en' %}$4,587{% else %}2 400€{% endif %}</td></tr>
        <tr><td>{% if page.lang == 'en' %}MicroSD Card (32G){% else %}Carte MicroSD 32G{% endif %}</td><td>30</td><td>{% if page.lang == 'en' %}$17{% else %}12€{% endif %}</td><td>{% if page.lang == 'en' %}$500{% else %}360€{% endif %}</td></tr>
        <tr><td>{% if page.lang == 'en' %}Mini Solar Chargers (1,200 mAh){% else %}Mini chargeurs solaires (1 200mAh){% endif %}</td><td>30</td><td>{% if page.lang == 'en' %}$26{% else %}19€{% endif %}</td><td>{% if page.lang == 'en' %}$792{% else %}570€{% endif %}</td></tr>
        <tr><td colspan="3">TOTAL</td><td>{% if page.lang == 'en' %}$5,879{% else %}3 550€{% endif %}</td></tr>
    </tbody>
</table>
