<table class="table table-striped budget">
    <thead>
        <legend>{% if page.lang == 'en' %}Simplified Estimated Budget{% else %}Budget estimatif simplifié{% endif %}</legend>
        <tr><th>{% if page.lang == 'en' %}Item{% else %}Poste de dépenses{% endif %}</th><th>{% if page.lang == 'en' %}Quantity{% else %}Quantité{% endif %}</th><th>{% if page.lang == 'en' %}Unit Cost{% else %}Coût Unitaire{% endif %}</th><th>Total</th></tr>
    </thead>
    <tbody>
        <tr><td>{% if page.lang == 'en' %}eReaders{% else %}Liseuses électroniques{% endif %}</td><td>30</td><td>70€</td><td>2100€</td></tr>
        <tr><td>{% if page.lang == 'en' %}MicroSD Card (32G){% else %}Carte MicroSD 32G{% endif %}</td><td>30</td><td>30€</td><td>900€</td></tr>
        <tr><td>{% if page.lang == 'en' %}Mini Solar Chargers{% else %}Mini chargeurs solaires{% endif %}</td><td>30</td><td>25€</td><td>750€</td></tr>
        <tr><td>{% if page.lang == 'en' %}Transport &amp; Customs{% else %}Transport &amp; douanes{% endif %}</td><td>1</td><td>1300€</td><td>1300€</td></tr>
        <tr><td>{% if page.lang == 'en' %}Plane Tickets LYS-BKO{% else %}Billets d'avion LYS-BKO{% endif %}</td><td>3</td><td>700€</td><td>2100€</td></tr>
        <tr><td>{% if page.lang == 'en' %}Training and beneficiaries transportation{% else %}Formation &amp; déplacements bénéficiaires{% endif %}</td><td>1</td><td>750€</td><td>750€</td></tr>
        <tr><td colspan="3">TOTAL</td><td>7900€</td></tr>
    </tbody>
</table>
