<table class="table table-striped budget">
    <caption>{% if page.lang == 'en' %}Updated on:{% else %}Dernière mise à jour :{% endif %} <span id="last_update">?</span> UTC</caption>
    <thead>
        <legend>{% if page.lang == 'en' %}List of all individual donors{% else %}Liste des donneurs individuels{% endif %}</legend>
        <tr><th>{% if page.lang == 'en' %}Name{% else %}Nom{% endif %}</th><th>{% if page.lang == 'en' %}Country{% else %}Pays{% endif %}</th><th>{% if page.lang == 'en' %}Amount{% else %}Montant{% endif %}</th><th>{% if page.lang == 'en' %}Date{% else %}Date{% endif %}</th><th>{% if page.lang == 'en' %}From{% else %}Depuis{% endif %}</th></tr>
    </thead>
    <tbody id="donors">
    </tbody>
</table>
