<table class="table table-striped budget">
    <caption>{% if page.lang == 'en' %}Updated on:{% else %}Dernière mise à jour :{% endif %} 14-04-2014 08:00 UTC</caption>
    <thead>
        <legend>{% if page.lang == 'en' %}List of all individual donors{% else %}Liste des donneurs individuels{% endif %}</legend>
        <tr><th>{% if page.lang == 'en' %}Name{% else %}Nom{% endif %}</th><th>{% if page.lang == 'en' %}Country{% else %}Pays{% endif %}</th><th>{% if page.lang == 'en' %}Amount{% else %}Montant{% endif %}</th><th>{% if page.lang == 'en' %}Date{% else %}Date{% endif %}</th><th>{% if page.lang == 'en' %}From{% else %}Depuis{% endif %}</th></tr>
    </thead>
    <tbody>
        <tr><td>GAUDIN Richard</td><td>France</td><td>100€</td><td>20-02-2014</td><td>Paypal</td></tr>
        <tr><td>BALLO Moumine</td><td>USA</td><td>50€</td><td>02-03-2014</td><td>Paypal</td></tr>
        <tr><td>MORET Julie</td><td>France</td><td>70€</td><td>05-03-2014</td><td>Paypal</td></tr>
        <tr><td>BALDACHINO Audrey</td><td>France</td><td>30€</td><td>06-03-2014</td><td>Paypal</td></tr>
        <tr><td>ROUBI Sylviane</td><td>France</td><td>70€</td><td>12-03-2014</td><td>Paypal</td></tr>
        <tr><td>EGEA Mathieu</td><td>France</td><td>70€</td><td>12-03-2014</td><td>Paypal</td></tr>
        <tr><td>RIBON Amandine, Mathieu</td><td>France</td><td>$30</td><td>01-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>PETIDIS Benjamin</td><td>France</td><td>$15</td><td>01-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>KOÏTA Goundo</td><td>Mali</td><td>$30</td><td>04-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>GAUDIN Louis</td><td>France</td><td>$30</td><td>04-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>THOMAS Fréderic</td><td></td><td>$50</td><td>06-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>TRUCHET Sophie</td><td>France</td><td>$30</td><td>07-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>GAUDIN Richard</td><td>France</td><td>$100</td><td>08-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>SOUREN Kasper</td><td></td><td>$70</td><td>08-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>RITOUET Nicolas</td><td>Germany</td><td>$100</td><td>09-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>LIPPS Julia</td><td>Switzerland</td><td>$100</td><td>09-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>DUCDODON Rémi</td><td>France</td><td>19€</td><td>09-04-2014</td><td>Paypal</td></tr>
        <tr><td>fbaucher</td><td></td><td>$15</td><td>09-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>CASEY Brenan</td><td>USA</td><td>$100</td><td>09-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>GELVIN David</td><td>USA</td><td>$50</td><td>09-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>BALLO Ismaël</td><td>France</td><td>10€</td><td>10-04-2014</td><td>Indiegogo</td></tr>
        <tr><td>Bandioukou Kourekama (Ultimo)</td><td>Mali</td><td>60 000F CFA</td><td>12-04-2014</td><td>Bamako</td></tr>
        <tr><td colspan="5">{% if page.lang == 'en' %}Thank You !!{% else %}Merci !!{% endif %}</td></tr>
    </tbody>
</table>
