		  <ul class="nav navbar-nav">
            <li{% if page.slug == 'home' %} class="active"{% endif %}><a href="/">Accueil</a></li>
            <li{% if page.slug == 'home' %} class="active"{% endif %}><a href="/projet">Projet</a></li>
            <li{% if page.slug == 'home' %} class="active"{% endif %}><a href="/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Français</a></li>
            <li><a href="/en/">English</a></li>
          </ul>