		  <ul class="nav navbar-nav">
            <li{% if page.slug == 'home' %} class="active"{% endif %}><a href="/en/">Home</a></li>
            <li{% if page.slug == 'project' %} class="active"{% endif %}><a href="/en/project">Project</a></li>
            <li{% if page.slug == 'contact' %} class="active"{% endif %}><a href="/en/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Français</a></li>
            <li class="active"><a href="/en/">English</a></li>
          </ul>